:root {
  --highlight: #7C3AED;
  --chart-gradient: linear-gradient(180deg, rgba(124, 58, 237, 0.5) 21.15%, rgba(124, 58, 237, 0) 100%);
  --text-primary: #0F172A;
  --text-secondary: #334155;
  --surface-primary: #fff;
  --surface-secondary: #EDE9FE;
  --graphic-elements: #94A3B8;
  --bg-color: #F8FAFC;
}

body {
  background-color: var(--bg-color);
}

.container {
  background-color: var(--surface-primary);
}